* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 64px;
    background-color: #1F2937;
    padding: 1% 15% 5% 15%;
}

.header h1 {
    color: #F9FAF8;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
}

.links {
    display: flex;
    gap: 64px;
}

.link, .hero-text{
    font-size: 18px;
    color: #E5E7EB;
}

.hero-banner {
    display: flex;
    align-items: center;
    gap: 128px
}

.right-content {
    width: 50%;
}

.image {
    width: 100%;
}

.left-content {
    width: 50%;
}

.hero-header {
    font-size: 48px;
    line-height: 100%;
    margin-bottom: 8px;
}

.sign-up-btn {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    border-style: none;
    padding: 4px 32px 4px 32px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 16px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}