* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 64px;
    background-color: #1F2937;
    padding: 1% 15% 5% 15%;
}

.header h1 {
    color: #F9FAF8;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
}

.links {
    display: flex;
    gap: 64px;
}

.link, .hero-text{
    font-size: 18px;
    color: #E5E7EB;
}

.hero-banner {
    display: flex;
    align-items: center;
    gap: 128px
}

.right-content {
    width: 50%;
}

.image {
    width: 100%;
}

.left-content {
    width: 50%;
}

.hero-header {
    font-size: 48px;
    line-height: 100%;
    margin-bottom: 8px;
}

.sign-up-btn {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    border-style: none;
    padding: 4px 32px 4px 32px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 16px;
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1% 20% 5% 20%;
}

.carousel-header {
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 32px;
}

.carousel-content {
    display: flex;
    gap: 64px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-image {
    width: 190px;
    height: 190px;
    border-color: #3882F6;
    border-style: solid;
    border-width: 4px;
    border-radius: 20px;
    margin-bottom: 8px;
}

.carousel-text {
    text-align: center;
}

.quote-content {
    display: flex;
    flex-direction: column;
    padding: 1% 18% 5% 18%;
    background-color: #E5E7EB;
    
}

.quote {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    margin-top: 32px;
}

.quote-by {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 500;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}